@model List<Fruit>
@{
    int sn = 1;
}

<h1> List of Fruits</h1>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Fruits">Create</a>
<table class="table"> 
    <thead>
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in Model)
        {
            <tr>
                <td>@(sn++)</td>
                <td>@(data.Name)</td>
                <td>@(data.Price)</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Fruits" asp-route-id="@data.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Fruits" asp-route-id="@data.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>